exportPattern("^[[:alpha:]]+")
importFrom("grDevices", "dev.new", "rainbow", "topo.colors")
    importFrom("graphics", "filled.contour", "image", "par", "persp",
               "plot", "segments")
    importFrom("stats", "runif")
